body {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}

.button {
    display: block;
    background: #eee;
    margin: 0;
    padding: 10px;
}

.button:hover {
    background: #ddd;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.img-circle {
    border-radius: 50%;
}

.send-channel {
    margin-left: 30px;
}

#content {
    line-height: 1.5em;
    width: 70%;
    margin: 0 auto;
}
