
.sidebar {
    width: 25%;
    overflow: auto;
    position: absolute;
    top: 0;
    left: -25%;
    transition: all 500ms;
}

@media (max-device-width: 580px) {
  .sidebar {
    width: 100%;
    left:0 ;
    top: -100%;
    height: 100%;
  }
}

.sidebar-active{
    left: 0;
    top: 0;
}

.teal {
    width: 100%;
    background: #0099ff;
    border-bottom: 1px solid #007acc;
}

.hamburger {
    width: 100%;
}

.sidebar-button {
    text-align: right;
    color: black;
    border-right: 1px solid #000;
}

.sidebar-button:hover {
}

.sidebar-last {
    border-bottom: 1px solid #000;
}

.sidebar-close {
    background: #3385ff;
}

.sidebar-close:hover {
    background: #0066ff;
}
